<div class="container-fluid" style="background-color: rgb(23, 33, 50)">
  
    <div class="row w-100 justify-content-between">
      <div class="col-10 col-sm-6 col-lg-3 pl-4">
        <h3 class="text-light ml-5 pt-3">Facebook</h3>
        <section class="product-box pt-3 m-auto">
          <div class="card-body">
            <iframe
              src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcounterstrikei3&tabs=timeline&width=400&height=450&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
              width="500"
              height="500"
              style="border: none; overflow: hidden"
              scrolling="no"
              frameborder="0"
              allowTransparency="true"
              allow="encrypted-media"
            ></iframe>
          </div>
        </section>
      </div>
      <div class="col-10 col-sm-6 col-lg-3 pl-4">
        <h3 class="text-light ml-5 pt-3">Instragram</h3>
        <section class="product-box pt-3 m-auto">
          <script src="https://apps.elfsight.com/p/platform.js" defer></script>
          <div class="elfsight-app-bcfca82e-40a8-4628-a9f3-8018ef391ebc"></div>
        </section>
      </div>
      <div class="col-10 col-sm-6 col-lg-3 pl-4">
        <h3 class="text-light ml-5 pt-3">Twitter</h3>
        <section class="product-box pt-3 m-auto" >
          <a class="twitter-timeline" data-lang="es" data-width="400" data-height="450" data-theme="dark" href="https://twitter.com/counterstrikei3?ref_src=twsrc%5Etfw">Tweets by counterstrikei3</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>
      </div>
    </div>
    <div>
     <button class="btn-dark mb-5 ml-5" data-toggle="modal" data-target="#QR">Codigo QR</button> 
    </div>
  </div>