<!-- Footer -->
<footer class="container-fluid sticky-footer mt-auto" style="background-color: #2F303A; opacity: 0.9;">
    <div class="d-flex justify-content-between" style="height: 30px;">
        <ul class="d-flex">
        </ul>
        <div class="d-flex">
            <a href="https://www.facebook.com/counterstrikei3/?ref=page_internal"><i class="fab fa-facebook p-2 text-light"></i></a>
            <a href="https://www.instagram.com/counterstrikei3/"><i class="fab fa-instagram p-2 text-light"></i></a>
            <a href="https://twitter.com/counterstrikei3"><i class="fab fa-twitter p-2 text-light"></i></a>
        </div>
    </div>
    <div style="text-align: center; color: grey;">
        <small>Copyright 2020 - <i class="far fa-copyright"></i> Counter Strike</small>
    </div>
</footer>
<!-- /Footer -->
<!-- Boostrap, Jquery, Popper -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <!-- Facebook -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v8.0" nonce="GrKVw9LN"></script>

    <script src="../javascripts/main.js"></script>
</body>

</html>