<body>
    <header>
        <nav class="navbar navbar-light" style="background-color: rgb(23, 33, 50); opacity: 0,8;">
            <button type="button" class="btn btn-outline-link" data-toggle="modal" data-target="#exampleModal">
                <a class="navbar-brand" style="font-size: 64px;" href="#">
                    <img src="../images/Avatar.svg" width="150" height="150"
                        class="d-inline-block align-center border-light" alt="Logo CS" id="ImgAvatar" />
             </button>
             
            <a style="font-size: 64px; text-decoration-line: none;" class="text-light" href="/">Counter-Strike</a>
            </a>
            <form class="form-inline my-2 my-lg-0 pr-5">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-light my-2 my-sm-0 mr-2 " type="submit">
                    <i class="fas  fa-search"></i>
                </button>
                <button class="btn btn-light my-2 my-sm-0 bg-transparent" type="button">
                   <a href="/redes"> <i class="fas fa-2x fa-globe text-light"></i></a>
                </button>
            </form>
        </nav>
        <!-- /Navbar  -->