 <!-- Información -->
 <div class="accordion" id="accordionExample">
    <div class="card" style="background-color: rgb(172, 170, 171);">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Evolución y Crecimiento
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <p>Counter-Strike es un videojuego de disparos en primera persona multijugador (ya sea en LAN o en
                    línea) desarrollado por Valve para Microsoft Windows. Es una modificación completa del juego
                    Half-Life, realizada por Minh Le y Jess Cliffe, quienes lanzaron la primera versión el 18 de
                    junio de 1999.
                    La última versión del juego es el Counter-Strike: Global Offensive, una de las versiones del
                    juego más jugado en el mundo, ante juegos más recientes, como la versión Counter-Strike: Source,
                    basado en el motor Source, desarrollado para el juego Half-Life 2. A junio de 2019, es también
                    jugable en GNU/Linux, Macintosh OS X y Windows XP, Vista, 7, 8, 8.1 y 10 desde la plataforma
                    Steam. Se conoce comúnmente como Counter-Strike 1.6 para distinguirlo de otros títulos de la
                    serie, siendo 1.6 la última actualización de software importante que recibió el juego.
                    Los diferentes Counter strikes a lo largo del tiempo fueron Counter-Strike, Counter-strike:
                    Condition Zero, Counter-Strike: Source y Counter-Strike: Global Offensive. Tuvo un spin off
                    llamado Counter-Strike Neo.</p>
            </div>
        </div>
    </div>
    <div class="card" style="background-color: rgb(172, 170, 171);">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-dark collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    E-Sports
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <p>Counter-Strike tiene más de 20 años de historia competitiva comenzando con el Counter-Strike
                    original. Los torneos de series de juegos se han organizado desde 2000. El primer torneo
                    internacional importante se celebró en Dallas, Texas, en el Campeonato de Invierno de la Liga
                    Profesional Cyberathlete de 2001, ganado por el equipo sueco Ninjas in Pyjamas. El torneo
                    ofreció un premio acumulado de $ 150.000.</p>
            </div>
        </div>
    </div>
    <div class="card" style="background-color: rgb(172, 170, 171);">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-dark collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Modos de juegos
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <p>Los modos de juego son cada uno de los tipos de mapas en que son clasificados éstos en la saga
                    Counter-Strike. Actualmente existen los siguientes:</p>
            </div>
            <button type="button" class="btn btn-outline-link" data-toggle="modal" data-target="#exampleModal">
                <button class="btn btn-dark ml-3 btn-sm mb-2" type="button" data-toggle="modal"
                    data-target="#exampleModalScrollable">Más Info</button>
        </div>
    </div>
    <div class="card" style="background-color: rgb(172, 170, 171);">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-dark collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Mercado Online
                </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                <p>Uno de los negocios más lucrativos del mundo es el de la compra-venta de skins de armas en el
                    mundo virtual. Los jugadores gastan enormes cantidades de dinero para conseguir armas de
                    distintos videojuegos. Pero no lo hacen porque las armas sean más o menos potentes, sino por
                    mera estética. ¿El mejor ejemplo? La comunidad de tradeo que hay en torno a CS:GO.
                    El mercado de los skins mueve millones y se ha descontrolado tanto que Valve ha tenido que
                    ponerse las pilas. La desarrolladora ha decido emprender acciones legales y modificaciones en el
                    juego.</p>
            </div>
        </div>
    </div>
</div>
<!-- /Información -->