 <!-- Integrantes -->
 <div class="container-fluid" style="background-color: rgb(23, 33, 50);">
    <h3 class="text-light">Integrantes</h3>
    <div class="row w-100 justify-content-between">
      <div class="col-10 col-sm-6 col-lg-3 pl-4">
        <section class="product-box pt-3 m-auto ">
          <div class="card text-center" style="width: 18rem;">
            <img
              src="../images/terro1.jpg"
              class="card-img-top"
              alt="Imagen"
            />
            <div class="card-body">
              <h5 class="card-title">Maximiliano Galain</h5>
              <a href="https://www.linkedin.com/in/maximiliano-galain-alejandro/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </section>
      </div>
      <div class="col-10 col-sm-6 col-lg-3">
        <section class="product-box pt-3 m-auto">
          <div class="card text-center" style="width: 18rem;">
            <img src="../images/terro4.jpg" class="card-img-top" alt="Imagen" />
            <div class="card-body">
              <h5 class="card-title">Patricio Banchio</h5>
              <a href="https://www.linkedin.com/in/patriciobanchioleone"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </section>
      </div>
      <div class="col-10 col-sm-6 col-lg-3">
        <section class="product-box pt-3 m-auto">
          <div class="card text-center" style="width: 18rem;">
            <img src="../images/terro3.webp" class="card-img-top" alt="Imagen" />
            <div class="card-body">
              <h5 class="card-title">Santiago Serroels</h5>
              <a href="https://www.linkedin.com/in/santiagoserroels"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row w-100 justify-content-between">
      <div class="col-10 col-sm-6 col-lg-3 pl-4">
        <section class="product-box pt-3 m-auto">
          <div class="card text-center pb-3" style="width: 18rem; height: 18rem;" >
            <img src="../images/sas.jpeg" class="card-img-top" alt="Imagen" />
            <div class="card-body text-center">
              <h5 class="card-title mt-2">Francisco Toyos</h5>
              <a href="https://www.linkedin.com/in/franciscotoyos/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </section>
      </div>
      <div class="col-10 col-sm-6 col-lg-3">
        <section class="product-box pt-3 m-auto">
          <div class="card text-center" style="width: 18rem;">
            <img src="../images/urban.jpg" class="card-img-top" alt="Imagen" />
            <div class="card-body">
              <h5 class="card-title">Roy Fitzimons</h5>
              <a href="www.linkedin.com/in/roy-fitzimons"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </section>
      </div>
      <div class="col-10 col-sm-6 col-lg-3">
        <section class="product-box pt-3 m-auto">
          <div class="card text-center" style="width: 18rem;">
            <img src="../images/gsg9.webp" class="card-img-top" alt="Imagen" />
            <div class="card-body">
              <h5 class="card-title">Franco Lelli</h5>
              <a href="https://www.linkedin.com/in/franco-lelli"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </section>
      </div>
    </div>
</div>
<!-- /Integrantes -->