 <!-- Modal Video -->
 <div class="modal fade " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Video Counter-Strike</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeSimple">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
            <div class="embed-responsive embed-responsive-1by1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/P9EORZi4qG8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" class="close">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modal Video -->
        <!-- Modal info -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Introducción al Counter Strike</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Counter-Strike es una serie de videojuegos de disparos multijugador en primera persona en los
                            que equipos de terroristas luchan para perpetrar un acto de terror mientras los
                            antiterroristas intentan evitarlo. La serie comenzó en Windows en 1999 con el lanzamiento
                            del primer juego, Counter-Strike. En esta temática nos encargaremos de ampliar y aportar
                            toda la información sobre este juego tan famoso a nivel mundial. Hablaremos sobre su
                            evolución, su momento de más fama, sobre su crecimiento en el mundo de los E-sports y sus
                            torneos, todos sus modos de juegos, y por último, sobre el mercado de objetos estéticos que
                            hay en el mismo y su alcance.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal info -->