<!-- Modal - Modos de juegos -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Modos de juegos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <h3>El modo Competitivo de 5v5 y 2v2:</h3>
            <p> Los jugadores deben comprar armaduras, armas, kits de desactivación o rescate, y administrar su
                economía en el juego para maximizar sus posibilidades de éxito. El primer equipo en ganar 16
                rondas en los modos de juego Bomb Defusal o Hostage Rescue gana el partido. En el 2v2 Se juega a
                un total de 16 rondas y gana quien llega a 9 o se empata 8-8 con las mismas reglas y con la
                mitad del mapa.</p>

            <h3>El modo Casual:</h3>
            <p>Los jugadores reciben automáticamente armaduras y kits de defensa, juegan con una economía
                simplificada y el daño del equipo se ha desactivado. Son partidas de 10vs10.</p>

            <h3>Combate a muerte:</h3>
            <p>Este modo de juego casual de ritmo rápido permite reapariciones instantáneas y fomenta los
                compromisos rápidos. Después del desove, los jugadores tienen un tiempo limitado para comprar
                las armas que deseen y atacar al enemigo. Las muertes con diferentes armas valen diferentes
                puntos, y durante todo el partido los jugadores recibirán puntos de bonificación por lograr
                muertes con las armas seleccionadas</p>

            <h3>Carrera de armamentos:</h3>
            <p>La carrera de armamentos es un modo de progresión de armas que ofrece un reaparecimiento
                instantáneo diseñado para el combate rápido en cuartos cerrados. Los jugadores obtienen nuevas
                armas inmediatamente después de registrar una matanza a medida que avanzan a través de cada arma
                en el juego.</p>

            <h3> Demolición:</h3>
            <p>En demolición, los jugadores se turnan para atacar y defender un solo sitio de bomba en una serie
                de mapas diseñados para un juego de ritmo rápido. A los jugadores se les otorga automáticamente
                un arma inicial y avanzan a través de una secuencia de armas de fuego cuando registran una
                matanza. Cuantos más asesinatos gane, más avanzará hacia armas más fuertes que le dan a su
                equipo una ventaja.</p>
            <h3>Scoutsman volador:</h3>
            <p>Este modo de juego Casual 8v8 presenta una gravedad reducida, no penaliza a los jugadores por
                disparar mientras se mueven, y solo permite dos armas: rifles de francotirador SSG 08 y
                cuchillos. Sube a los cielos y elimina a tus enemigos.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
<!--  /Modal - Modos de juegos -->