 <!-- SubNavbar -->
 <header class="main-header border-top">
    <nav class="navbar  navbar-expand-lg navbar-light mt-auto bg-dark justify-content-around p-4">
        <a href="#headingOne"><button class="btn btn-outline-light  btn-sm" type="button" id="MenuButton1"
                data-toggle="button" aria-haspopup="true" aria-expanded="false">
                Evolución y Crecimiento
            </button></a>
        <a href="#headingTwo"><button class="btn btn-outline-light  btn-sm" type="button" id="MenuButton2">
                E-Sports
            </button></a>

        <a href="#headingThree"><button class="btn btn-outline-light  btn-sm" type="button" id="MenuButton3">
                Modos de juegos
            </button></a>


        <a href="#headingFour"><button class="btn btn-outline-light  btn-sm" type="button" id="MenuButton3">

                Mercado Online
            </button></a>

            <button type="button" class="btn btn-outline-light  btn-sm" data-toggle="modal" data-target="#exampleModal2">
                Video-Adelanto  Counter-Strike
              </button>


    </nav>
</header>

<!-- /SubNavbar -->

<!-- /Header -->
</header>